01 

"뉴딜" 문자열을 화면에 출력하는 print_new() 함수를 정의하라.

In [ ]:
def print_new() :
      print('뉴딜')

02

01번에서 정의한 함수를 호출하라.

In [ ]:
print_new()

뉴딜

03

01번에서 정의한 print_new 함수를 100번호출하라.

In [2]:
def print_new() :
      print('뉴딜')

for i in range(100) :#100번 반복
    print_new()# 뉴딜 출력

뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜

04

"뉴딜" 문자열을 100번 화면에 출력하는 new_prints() 함수를 정의하라.

In [ ]:
def new_prints(*args) :
  for i in range(*args) :
      print('뉴딜')

05

아래의 에러가 발생하는 이유에 대해 설명하라.

```
hello()
def hello():
    print("Hi")
```

실행 예
```
NameError: name 'hello' is not defined
```

In [ ]:
#hello()함수를 정의하기 전에 함수를 호출 했기때문

06

아래 코드의 실행 결과를 예측하라.

```
def message() :
    print("A")
    print("B")

message()
print("C")
message()
```

In [ ]:
def message() :
    print("A")
    print("B")

message() #A, B출력
print("C")#C 출력
message() #A, B출력

A
B
C
A
B

07

아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)

```
print("A")

def message() :
    print("B")

print("C")
message()
```

In [ ]:
print("A")

def message() :
    print("B")

print("C")
message()

A
C
B

08

아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)
```
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()
```

In [ ]:
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
    
message1()
print("E")
message2()

A
C
B
E
D

09

아래 코드의 실행 결과를 예측하라.

```
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()
```

In [ ]:
def message1():
    print("A")

def message2():
    print("B") #B출력후 
    message1() # message1() 실행하므로 A출력

message2()

10

아래 코드의 실행 결과를 예측하라.

```
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

```

In [ ]:
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

B
C
B
C
B
C
A

11


함수의 호출 결과를 예측하라.
```
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")
```

In [ ]:
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

안녕
Hi

12

함수의 호출 결과를 예측하라.

```
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)
```

In [ ]:
def 함수(a, b) :
    print(a + b)

함수(3, 4) # 3+4 =7
함수(7, 8) # 7+8 =15

7
15

13

아래와 같은 에러가 발생하는 원인을 설명하라.

```
def 함수(문자열) :
    print(문자열)

함수()
```

```
TypeError: 함수() missing 1 required positional argument: '문자열'
```

In [ ]:
#매개변수 값이 입력되지 않음

14

아래와 같은 에러가 발생하는 원인을 설명하라.
```
def 함수(a, b) :
    print(a + b)

함수("안녕", 3)
```

In [ ]:
#a+b연산에 문자와 숫자이기 때문에 함수실행불가

TypeError: ignored

15

하나의 문자를 입력받아 문자열 끝에 ":D" 스마일 문자열을 이어 붙여 출력하는 print_with_smile 함수를 정의하라.

In [ ]:
def print_with_smile(a):
  print(a+":D") #매개변수 a를 입력받아 그 a와 함께 ":D" 문자 출력

16

15에서 정의한 함수를 호출하라. 파라미터는 "안녕하세요"로 입력하라.

In [ ]:
print_with_smile('안녕하세요')

안녕하세요:D

17

현재 가격을 입력 받아 상한가 (30%)를 출력하는 print_upper_price 함수를 정의하라.

In [ ]:
def print_upper_price(price):
  print(price*0.3+price)

print_upper_price(1000)

1300.0

18

두 개의 숫자를 입력받아 두 수의 합을 출력하는 print_sum 함수를 정의하라.

In [ ]:
def print_sum (a,b) : #두개 숫자 입력받기
  print(a+b) #입력받은 두개의 숫자 더하기

print_sum (1,2)

3

19

두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 print_arithmetic_operation 함수를 작성하라.

In [ ]:
def print_arithmetic_operation(a,b) :
  print(a+b)
  print(a-b)
  print(a*b)
  print(a/b)

print_arithmetic_operation(1,1)

2
0
1
1.0

20

세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 단 if 문을 사용해서 수를 비교하라.

In [ ]:
def print_max(a,b,c) :
  if a > b :
    return a
  elif b > c :
    return b
  else : 
    return c

print_max(10,20,50)

50

21

입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라.

```
print_reverse("python")
```

```
nohtyp
```

In [ ]:
def print_reverse(a):
  print(a[::-1]) #받은 문자열을 거꾸로 출력

print_reverse("python")

nohtyp

22

성적 리스트를 입력 받아 평균을 출력하는 print_score 함수를 정의하라.
```
print_score ([1, 2, 3])
```
```
2.0
```

In [ ]:
def print_score(slist):
    sum =0 #초기값 0
    for i in slist : #받은 리스트를 반복
      sum += i #반복할때마다 sum값은 입력받은 숫자씩증가
    print(sum/len(slist)) #총더한 값에 리스트의 길이만큼 나눠 평균값산출
#print(sum(slist)/len(slist))
print_score ([3, 1, 1,])

1.6666666666666667

23

하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.
```
print_even ([1, 3, 2, 10, 12, 11, 15])
```
```
2
10
12
```

In [ ]:
def print_even(slist) :

    for i in slist :
        if i%2 == 0 :
           print(i)

print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

24

하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라.

```
print_keys ({"이름":"김말똥", "나이":30, "성별":0})
```

```
이름
나이
성별
```

In [ ]:
def print_keys (d):
  for i in d.keys() : #입력받은 딕셔너리타입의 key값 만큼 반복
    print(i) #딕셔너리 타입 출력

print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

25

입력 문자열을 한 줄에 다섯글자씩 출력하는 print_5xn(string) 함수를 작성하라.

```
print_5xn("아이엠어보이유알어걸")
```
```
아이엠어보
이유알어걸
```

In [ ]:
def print_5xn(a):
    count = int(len(a) / 5)
    for i in range(count + 1) :
        print(a[i * 5: i * 5 + 5])

print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

26

문자열과 한줄에 출력될 글자 수를 입력을 받아 한 줄에 입력된 글자 수만큼 출력하는 print_mxn(string) 함수를 작성하라.

```
printmxn("아이엠어보이유알어걸", 3)
```
```
아이엠
어보이
유알어
걸
```

In [ ]:
def printmxn(a, num):
    count = int(len(a) / num)
    for i in range(count + 1) :
        print(a[i * num: i * num + num])

printmxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸
아이엠
어보이
유알어
걸

27

연봉을 입력받아 월급을 계산하는 calc_monthly_salary(annual_salary) 함수를 정의하라. 회사는 연봉을 12개월로 나누어 분할 지급하며, 

이 때 1원 미만은 버림한다.

```
calc_monthly_salary(12000000)
```
```
1000000
```

In [ ]:
def calc_monthly_salary(annual_salary) :
  print(int(annual_salary/12)) # 입력받은 월급을 12로 나누고 int(정수)로 형변환하여 소수점이하 숫자 제거

calc_monthly_salary(120000)

10000

28

아래 코드의 실행 결과를 예측하라.

```
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

```
my_print(a=100, b=200)

In [ ]:
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)
my_print(a=100, b=200)

왼쪽: 100
오른쪽: 200

29

아래 코드의 실행 결과를 예측하라.

```
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)
```
```
my_print(b=100, a=200)
```

In [ ]:
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)
my_print(b=100, a=200)

왼쪽: 200
오른쪽: 100

30

아래 코드를 실행한 결과를 예상하라.

```
def n_plus_1 (n) :
    result = n + 1
```
```
n_plus_1(3)
print (result)
```

In [ ]:
def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)
#result 지역변수가 외부에서 선언 되어있기 때문에 오류

NameError: ignored

31

문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하라.
```
make_url("naver")
```
```
www.naver.com
```

In [ ]:
def make_url(a) :
  print("www."+str(a)+".com")

make_url('naver')

www.naver.com

32

문자열을 입력받아 각 문자들로 구성된 리스트로 반환하는 make_list 함수를 정의하라.

```
make_list("abcd")
```
```
['a', 'b', 'c', 'd']
```

In [ ]:
def make_list(a):
  print(list(a))
  
make_list("abcd")

['a', 'b', 'c', 'd']

33

숫자로 구성된 하나의 리스트를 입력받아, 짝수들을 추출하여 리스트로 반환하는 pickup_even 함수를 구현하라.

```
pickup_even([3, 4, 5, 6, 7, 8])
```
```
[4, 6, 8]
```

In [ ]:
def pickup_even(a):
  result=[]
  for i in a : #입력받은 리스트 개수만큼 반복
    if i%2 == 0 : # 리스트의 값이 2의배수(짝수)일때 
      result.append(i) #result에 값추가
  return result #result값 반환

pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

34

콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수를 정의하라.

```
convert_int("1,234,567")
```
```
1234567
```

In [ ]:
def convert_int(a):
  b = int(a.replace(',',''))
  print(b)

convert_int("1,234,567")

1234567

35

아래 코드의 실행 결과를 예측하라.

```
def 함수(num) :
    return num + 4


a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)
```

In [ ]:
def 함수(num) :
    return num + 4


a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)

22

36

아래 코드의 실행 결과를 예측하라.

```
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)
```

In [ ]:
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)
#처음함수 실행시 값은14 다음 값 14+4 = 18 + 4 = 22
#1번째 함수실행 = 10 + 4 = 14
#2번째 함수실행 = 14(1번째 함수 반환값) + 4 = 18
#3번째 함수실행 = 18(2번째 함수 반환값) + 4 = 22

22

37

아래 코드의 실행 결과를 예측하라.

```
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)
```

In [ ]:
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10) #14
c = 함수2(a) #140
print(c)

140

38

아래 코드의 실행 결과를 예측하라.

```
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)
```

In [ ]:
def 함수1(num) : #2번째 실행 1번실행 함수의 반환값이 입력값이됨(12) 
    return num + 4 #입력값(12)+4 = 최종 반환값: 16 

def 함수2(num) : #1번 실행 입력값:10
    num = num + 2 #입력값(10)+2 =12
    return 함수1(num) # 반환값: 12

c = 함수2(10)
print(c)

16

39
아래 코드의 실행 결과를 예측하라.

```
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)
```

In [ ]:
def 함수0(num) : #두번째 실행함수의 반환값이 입력값이됨(14)
    return num * 2 #입력값(12) * 4 = 28(최종 반환값)

def 함수1(num) : #첫번째 실행함수의 반환값이 입력값이됨(12)
    return 함수0(num + 2) #입력값(12) + 2 = 14(반환값)

def 함수2(num) : #첫번째 실행 입력값: 2
    num = num + 10 #입력값(2)+10 =12
    return 함수1(num) # 반환값 12

c = 함수2(2)
print(c)

28